@model List<Bindicator.ViewModels.BinStatusViewModel>

<tbody>
    @foreach (var bin in Model)
    {
        var fillClass = bin.FillLevel switch
        {
            >= 85 => "table-danger",
            >= 60 => "table-warning",
            > 0 => "table-success",
            _ => ""
        };

        <tr class="@fillClass">
            <td>@bin.Postcode</td>
            <td>@bin.Street</td>
            <td>@bin.BinNumber</td>
            <td>@bin.FillLevel</td>
            <td>@bin.Weight</td>
            <td>@bin.Density</td>
            <td>
                @bin.Timestamp.ToLocalTime().ToString("g")
                <br />
                <small class="text-muted">
                    (@((DateTime.UtcNow - bin.Timestamp).TotalMinutes.ToString("N0")) mins ago)
                </small>
            </td>
            <td>
                <a asp-controller="Dashboard" asp-action="Trend"
                   asp-route-postcode="@bin.Postcode"
                   asp-route-street="@bin.Street"
                   asp-route-binNumber="@bin.BinNumber">
                    View Trend
                </a>
            </td>
        </tr>
    }
</tbody>